body {
	/*margin:0, auto;*/
	background: linear-gradient(to bottom, #63a6e3, #fc60d5);
	height:1000px;
	background-repeat: no-repeat;
}

p{
		font-family:'Gotham'
	}


#allContent {
	position:fixed;
}

#staff {
	
	margin-left:10%;
	margin-top:50px;
}


.line {
	height:2px;
	width:500px;
	background:#ffffff;
	margin-top:30px;
	margin-left:20%%;
}

.lowerline {
	position:absolute;
	height:2px;
	width:100px;
	background:#ffffff;
	margin-top:30px;
	margin-left:26%;
}

#notes {
	margin-top:-110px;
}

.note {
	width:4.3%;
	height:4.3%;
}



.note {
 	margin-left:67%;
}

#trebleCleff {
	position:absolute;
	/*width:7%;*/
	/*height:7%;*/
	top:150px;
	margin-left:11%;
}


#noteF {
	position:absolute;
	margin-left:39%;
	top:19%;
}

#noteD {
	position:absolute;
	margin-left:39%;
	top:23%;
}

#noteB{
	position:absolute;
	margin-left:39%;
	top:27%;
}

#noteG {
	position:absolute;
	margin-left:39%;
	top:31%;
}

#noteEE {
	position:absolute;
	margin-left:39%;
	top:35%;
}

#noteDD {
	position:absolute;
	margin-left:39%;
	top:37%;
}

#noteE {
	position:absolute;
	margin-left:39%;
	top:21%;
}

#noteC {
	position:absolute;
	margin-left:39%;
	top:199px;
}

#noteA {
	position:absolute;
	margin-left:39%;
	top:29%;
}

#noteFF {
	position:absolute;
	margin-left:39%;
	top:33%;
}

#noteCC {
	position:absolute;
	margin-left:39%;
	top:39%;
}

#Fsharp {
	margin-left:18.75%;
	position:absolute;
	top:19%;
}

#Esharp {
	margin-left:33%;
	position:absolute;
	top:21%;
}

#Csharp {
	margin-left:20%;
	position:absolute;
	top:25%;
}

#Gsharp {
	margin-left:24%;
	position:absolute;
	top:17.5%;
}

#Dsharp {
	margin-left:27%;
	position:absolute;
	top:22.75%;
}

 #Asharp {
	margin-left:30%;
	position:absolute;
	top:29%;
}

#Bflat {
	margin-left:20%;
	position:absolute;
	top:26%;
	display:none;
}

#Eflat {
	margin-left:24%;
	position:absolute;
	top:20%;
	display:none;
}

#Aflat {
	margin-left:25%;
	position:absolute;
	top:28%;
	display:none;
}

#Dflat {
	margin-left:29%;
	position:absolute;
	top:22%;
	display:none;
}

#Gflat {
	margin-left:31%;
	position:absolute;
	top:30%;
	display:none;
}

#Cflat {
	margin-left:33%;
	position:absolute;
	top:24%;
	display:none;
}



#yeah {
	margin:0, auto;
	margin-left:10%;
	top: 50%;
	left: 20%;
	color:#904dd9;
	/*text-align:center;*/
	font-size:2em;
	font-style:italic;
	word-spacing: 30px
	font-style:italic;
	/*margin-left:20%;*/
	width:100%;
	/*white-space: nowrap;*/
  	/*overflow: hidden;*/
  	text-shadow: #14ccbb 1px 1px, #14ccbb 2px 2px, #14ccbb 3px 3px, #14ccbb 4px 4px, #14ccbb 5px 5px, #14ccbb 6px 6px, #14ccbb 7px 7px, #14ccbb 8px 8px, #14ccbb 9px 9px;
  }

 #instructions {
 	/*text-align:center;*/
 	font-style: italic;
 	font-weight: bold;
 	margin-left:10%;
 	margin-top:180px;
 	color:white;
 	font-size:1.8em;
 	letter-spacing: 2px;
 }

 #major_label {
 	/*margin-top:-20px;*/
 	margin-left:10%;
 	color:white;
 	font-size:1.2em;
 	letter-spacing: 2px;
 }

 

 #minor_label {
 	margin-top:50px;
 	margin-left:10%;
 	color:white;
 	font-size:1.2em;
 	letter-spacing: 2px;
 }

 #major_keys {
 	position:relative;
 	bottom:5%;
 	top:50%;
 	width:100%;
 	margin-left:10%;
 }

 #minor_keys {
 	width:100%;
 	margin-left:10%;
 }

 .majorButton {
 	margin-right:10px;
 	border:none;
 	border-radius:10%;
 	letter-spacing: 0.1em;
 	width:60px;
	height:40px;
	color:white;
	background-color:#ff00e5;
}

.minorButton {
	margin-right:10px;
	border-radius:50%;
	border:none;
	letter-spacing: 0em;
	width:60px;
	height:50px;
	color:white;
	background-color:#14ccbb;
	align:bottom;
}

#reset {
	padding-top:4%;
}

#resetButton {
	position:relative;
	top:-518px;
	margin-left:68%;
 	border:none;
 	border-radius:100%;
 	letter-spacing: 0.1em;
 	font-size:1.2em;
 	width:100px;
	height:100px;
	color:white;
	background-color:#00F5FF;
}

/*#notes {
	display:none;
}*/

#Fsharp {
	display:none;
}


#Csharp {
	display:none;

}

#Gsharp {
	display:none;

}

#Asharp {
	display:none;

}

#Dsharp {
	display:none;

}

#Esharp {
	display:none;

}

#seven {
	display:none;
}

#noteCC {
	display:none;
}


/*#flats {
	display:none;
}
*/
/*//CMajor*/

#noteA {
	display:none;
}

#noteC {
	display:none;
}

#noteE {
	display:none;
}

/*//GMajor*/

#noteG {
	display:none;
}

#noteB {
	display:none;
}

#noteD {
	display:none;
}

/*//DMajor*/

#noteDD {
	display:none;
}

#noteD {
	display:none;
}

#noteFF {
	display:none;
}

#noteEE {
	display:none;
}

#noteF {
	display:none;
}







